<p id="notice"><%= notice %></p>
<div class="container">
  <div style="float:left"><h1>Products</h1></div>
  <div style="float:right"><%= link_to 'New Product', new_product_path %> | <%= link_to 'New Warehouse', new_warehouse_path %></div>
<table>
  <thead>
    <tr>
      <th>Sku code</th>
      <th>Name</th>
      <th>Price</th>
      <% @products.to_a.first.warehouses.each do |warehouse| %>
        <th><%= warehouse.name %></th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.sku_code %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <% product.product_warehouses.each do |product_warehouse| %>
          <% class_name = product_warehouse.item_count < product_warehouse.low_item_threshold ? "red" : ""%>
          <td style="background-color:<%=class_name%>;"><%= product_warehouse.item_count %></td>
        <% end %>
        <td><%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
